/*==================
    Css reset
==================*/
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }


    /*==================
    Formatação geral
==================*/

html {
    font-size: calc(10px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243d;
}

html body a{
    text-decoration: none;
    color: #21243d;
}
 /*==================
    Formatação do topo
==================*/
header{
    margin: 0 5vw 3vw 5vw;
}
header nav ul{
    display: flex;
    justify-content: right;

}
header nav ul li{
    margin: 1vw 10px 0 5px ;
}

header nav ul li.atual a{
    color: #ff6464;
}
 /*==================
    Formatação de conteúdo
==================*/
main {
    margin: 0 25vw 0 25vw;
}
main.works h1{
    font-weight: normal;
    margin: 0 0 2vw 0; /*espaçamento do titulo*/
    color: #21243d;/*cor do titulo*/
}
main.works section{
    border-bottom: 1px solid black ;
    padding: 5vw 0vw 3vw 0vw;
}
main.works section:last-child{
    border: none;
}
main.works p{
    margin: 2vw 0 2vw 0;

}
main.works p span{
    color:white;
    background-color: #ff6464;
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}
 /*==================
    Formatação home page
==================*/
section.banner{
    display: flex;
    margin: 6vw 0 3vw 0;

}
section.banner h1{
      color: #21243d;
      margin: 2vw;
}
section.banner p {
    margin: 2vw;
}

section.banner button{
    color: aliceblue;
    background-color: #FF6464;
    width: 207px;
    height: 47px;
    font-size: 20px ;
    text-align: center;
    margin: 2vw 2vw 0 2vw ;
}
/*==================
    rt-post
==================*/
section.rt-post{
    background-color: #dad2d2;
    padding: 2vw 1vw 2vw 1vw;
}
section.rt-post h2{
    font-weight: normal;
    margin: 0 0 3vw 0;
}
section.rt-post ul{
    display: flex;
}
section.rt-post ul li {
    background: white;
    padding: 15px 10px 15px 10px;
    margin: 0 3vw 0 0;
}
section.rt-post ul li:last-child{
      margin: 0 ;
}
section.rt-post ul li p{
    margin: 1.5vw 0 1.5vw 0;
    
}
/*==================
    ft-works
==================*/
section.ft-works{
    padding: 2vw 0vw 2vw 0vw;
}
section.ft-works div{
    font-size: 1;
}
section.ft-works >div{
    display: flex;
}
section.ft-works h2{
    font-weight: 100;
    font-size: 221px 60px 1106px;
    margin: 20px 0 20px;
}
section.ft-works div h3{
    margin: 25px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 44.06px;
}
section.ft-works div p span{
    background-color: #142850;
    color: white;
    border-radius: 20px ;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}
section.ft-works div p.dash{
    color: #8695A4;
    margin: 0 0 20px ;
    font-weight: 700;
    font-size: 20px;
}
section.ft-works div p{
    font-size: 20px;
}

 /*==================
    Formatação de rodapé
==================*/
footer{
    text-align: center;
    padding: 1vw 0 2vw 0 ;
    margin-top: 4vw;
}
footer nav ul{
    display: flex;
    justify-content: center;
}
footer nav ul li{
    margin: 0 10px 5px 10px;
    font-size: 2rem;
}
footer nav ul li a span{
    color: #21243d;
}